src/conf/xml-resources/web-service-references/ServicoDadosCompraService_7/wsdl/localhost_8080/SW_ServicoDadosCompra/ServicoDadosCompraService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicos.ifsul.edu.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicos.ifsul.edu.br/" name="ServicoDadosCompraService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicos.ifsul.edu.br/" schemaLocation="http://localhost:8080/SW_ServicoDadosCompra/ServicoDadosCompraService?xsd=1"/>
</xsd:schema>
</types>
<message name="alterar">
<part name="parameters" element="tns:alterar"/>
</message>
<message name="alterarResponse">
<part name="parameters" element="tns:alterarResponse"/>
</message>
<message name="inserir">
<part name="parameters" element="tns:inserir"/>
</message>
<message name="inserirResponse">
<part name="parameters" element="tns:inserirResponse"/>
</message>
<message name="remover">
<part name="parameters" element="tns:remover"/>
</message>
<message name="removerResponse">
<part name="parameters" element="tns:removerResponse"/>
</message>
<message name="listaDadosCompra">
<part name="parameters" element="tns:listaDadosCompra"/>
</message>
<message name="listaDadosCompraResponse">
<part name="parameters" element="tns:listaDadosCompraResponse"/>
</message>
<portType name="ServicoDadosCompra">
<operation name="alterar">
<input wsam:Action="http://servicos.ifsul.edu.br/ServicoDadosCompra/alterarRequest" message="tns:alterar"/>
<output wsam:Action="http://servicos.ifsul.edu.br/ServicoDadosCompra/alterarResponse" message="tns:alterarResponse"/>
</operation>
<operation name="inserir">
<input wsam:Action="http://servicos.ifsul.edu.br/ServicoDadosCompra/inserirRequest" message="tns:inserir"/>
<output wsam:Action="http://servicos.ifsul.edu.br/ServicoDadosCompra/inserirResponse" message="tns:inserirResponse"/>
</operation>
<operation name="remover">
<input wsam:Action="http://servicos.ifsul.edu.br/ServicoDadosCompra/removerRequest" message="tns:remover"/>
<output wsam:Action="http://servicos.ifsul.edu.br/ServicoDadosCompra/removerResponse" message="tns:removerResponse"/>
</operation>
<operation name="listaDadosCompra">
<input wsam:Action="http://servicos.ifsul.edu.br/ServicoDadosCompra/listaDadosCompraRequest" message="tns:listaDadosCompra"/>
<output wsam:Action="http://servicos.ifsul.edu.br/ServicoDadosCompra/listaDadosCompraResponse" message="tns:listaDadosCompraResponse"/>
</operation>
</portType>
<binding name="ServicoDadosCompraPortBinding" type="tns:ServicoDadosCompra">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="alterar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remover">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaDadosCompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicoDadosCompraService">
<port name="ServicoDadosCompraPort" binding="tns:ServicoDadosCompraPortBinding">
<soap:address location="http://localhost:8080/SW_ServicoDadosCompra/ServicoDadosCompraService"/>
</port>
</service>
</definitions>